@import "normalize";
@import "rouge-github";
@import "variables";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

@mixin large {
	@media screen and (min-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin medium {
	@media screen and (min-width: #{$medium-breakpoint}) and (max-width: #{$large-breakpoint}) {
		@content;
	}
}

@mixin small {
	@media screen and (max-width: #{$medium-breakpoint}) {
		@content;
	}
}


body {
	margin: 0;
	color: $font-color;
	font-family: $font-style;
	font-size: 1.1em;
	line-height: 1.6;
	-webkit-font-smoothing: antialiased;
}
h1,
h2,
h3 {
	font-weight: 600;
	color: $heading-font-color;
	font-family: $heading-font;
	line-height: 1.5;
}
h1 {
	color: $main;
	font-size: 2.5em;
	a,
	a:visited {
		text-decoration: none;
		color: $main;
	}
}
h2 {
	font-size: 2em;
}
a,
a:visited {
	color: $link-color;
	text-decoration: underline;
	font-weight: bold;
}
a:hover {
	color: $link-hover-color;
	text-decoration: underline;
}
header {
	background: $header;
	padding: 0px 15px;
	text-align: center;
	margin: 50px 0 0;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
main {
	padding: 0 60px;
	max-width: $content-width;
	margin: 0 auto;
}
time {
	color: #898989;
}
.container {
	max-width: $content-width;
	margin: 0 auto;
}
.row {
	display: flex;
}

.row .column {
	width: 49%;
	flex: 50%;
	// margin: auto;
	padding: 10px;
	overflow: auto;
	max-height: 100vh;
}

.row .columnStmt {
	width: 49%;
	flex: 50%;
	// margin: auto;
	padding: 10px;
	overflow: auto;
	max-height: 100vh;
}

.row .columnSol {
	width: 49%;
	flex: 50%;
	// margin: auto;
	padding: 10px;
	overflow: auto;
	max-height: 100vh;
}

/* Aside */

aside {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	width: 100%;
	z-index: 2;
	border-bottom: 1px solid lighten($light, 30%);
	box-shadow: 0px 1px 1px RGBA(4, 25, 54, .1);
	nav {
		float: left;
		max-width: 800px;
		margin: 0 auto;
		ul {
			margin: 0;
			padding: 0;
			list-style: none;
			li {
				float: left;
				position: relative;
				a {
					text-decoration: none;
					display: block;
					padding: 15px;
					font-family: 'Muli', sans-serif;
					line-height: 20px;
					margin-bottom: -1px;
					box-shadow: 0;
					&:hover,
					&:active {
						background: $header;
						text-decoration: none;
						color: $main;
					}
				}
			}
		}
		&:after {
			content: '';
			display: table;
			clear: both;
		}
	}
}
footer {
	text-align: center;
	padding: 40px;
}

.btn {
		display: inline-block;
		margin-bottom: 1rem;
		color: rgba(255, 255, 255, 0.7);
		background-color: rgba(255, 255, 255, 0.08);
		border-color: rgba(255, 255, 255, 0.2);
		border-style: solid;
		border-width: 1px;
		border-radius: 0.3rem;
		transition: color 0.2s, background-color 0.2s, border-color 0.2s;
		
		&:hover {
			color: rgba(255, 255, 255, 0.8);
			text-decoration: none;
			background-color: rgba(255, 255, 255, 0.2);
			border-color: rgba(255, 255, 255, 0.3);
		}
		
		+ .btn {
			margin-left: 1rem;
		}
		
		@include large {
			padding: 0.75rem 1rem;
		}
		
		@include medium {
			padding: 0.6rem 0.9rem;
			font-size: 0.9rem;
		}
		
		@include small {
			display: block;
			width: 100%;
			padding: 0.75rem;
			font-size: 0.9rem;
		
			+ .btn {
			margin-top: 1rem;
			margin-left: 0;
			}
		}
  }

  .page-header {
		text-align: center;
		
		@include large {
			padding: 5rem 6rem;
		}
		
		@include medium {
			padding: 3rem 4rem;
		}
		
		@include small {
			padding: 2rem 1rem;
		}
  }
  
  .project-name {
		margin-top: 0;
		margin-bottom: 0.1rem;
		
		@include large {
			font-size: 3.25rem;
		}
		
		@include medium {
			font-size: 2.25rem;
		}
		
		@include small {
			font-size: 1.75rem;
		}
  }
  
  .project-tagline {
		margin-bottom: 2rem;
		font-weight: normal;
		opacity: 0.7;
		
		@include large {
			font-size: 1.25rem;
		}
		
		@include medium {
			font-size: 1.15rem;
		}
		
		@include small {
			font-size: 1rem;
		}
  }