<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
    {% include head.html %}
    <body>
        {% include header.html %}
        <main class="page-content" aria-label="Content">
            <!-- <div class="wrapper"> -->
                {{ content }}
            <!-- </div> -->
        </main>
        {% include footer.html %}
    </body>
</html>

<script>

    $("code[type='math/tex']").replaceWith(
      function(){
        var tex = $(this).text();
        return "<code class=\"inline-equation\">" + 
               katex.renderToString(tex) +
               "</code>";
    });
  
    $("code[type='math/tex; mode=display']").replaceWith(  
      function(){
        var tex = $(this).text();
        return "<code class=\"equation\">" + 
               katex.renderToString("\\displaystyle "+tex) +
               "</code>";
    });

    $("code[type='preformat']").replaceWith(
      function(){
        var tex = $(this).text();
        return "<code style=\"white-space: pre-wrap;\">" + 
               tex +
               "</code>";
    });
</script>

<!-- 

{% assign rows = content | split:"@row" %}
{% for row in rows %}
    <div class="row" id="row-{{ forloop.index }}">

    {% assign columns = row | split:"@column" %}
    {% for column in columns %}
        <div class="column">
            {{ column }}
        </div>
    {% endfor %}

    </div>
{% endfor %}

-->
